<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:confirm) %></legend>
  <%= render :partial => 'spree/amazon/order_details', :locals => { :order => @order } %>
</fieldset>

<%= form_tag complete_amazon_order_path do %>
  <div class="form-buttons" data-hook="buttons">
    <%= submit_tag Spree.t(:place_order), :class => 'continue button primary' %>
    <script>Spree.disableSaveOnClick();</script>
  </div>
<% end %>