<%# %>
<%# Amazon Payments - Login and Pay for Spree Commerce %>
<%# %>
<%# @category    Amazon %>
<%# @package     Amazon_Payments %>
<%# @copyright   Copyright (c) 2014 Amazon.com %>
<%# @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0 %>
<%# %>
<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:confirm) %></legend>
  <%= render :partial => 'spree/amazon/order_details', :locals => { :order => @order } %>
</fieldset>

<%= form_tag amazon_order_complete_path(@order), :class => 'edit_order' do %>
  <div class="well text-right form-buttons" data-hook="buttons">
    <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
    <script>Spree.disableSaveOnClick();</script>
  </div>
<% end %>
